.search {
  padding: 15px 15px;
  border: none;
  width: 700px;
}

.mainSearch {
  padding: 5px 5px;
  background: gray;
  width: 800px;
  margin: 0 auto;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
