.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  padding: 1rem;
  background: -webkit-linear-gradient(90deg, #7655c3, #7655c3, #7554c1);
  background: linear-gradient(90deg, #7655c3, #7655c3, #7554c1);
}
.linkNav {
  text-decoration: none;

  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.activeLink {
  color: black;
  font-size: 1.2rem;
}
